@font-face {
    font-family: lobster;
	src: url(./fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: cabin;
	src: url(./fonts/Cabin-Regular.ttf);
}

html {
    background-color: #2a2a2a;
    font-family: "cabin";
    color: #fff;
}

h1 {
    font-family: "lobster";
    font-size: 52px;
    text-shadow: 3px 3px 3px #3a3a3a;
}

h2 {
    margin-top: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

label {
    font-size: 16px;
}
button { 
    font-family: "cabin";
    font-size: 16px;
}

input {
    font-family: "cabin";
}

#main {
    background-color: #2a2a2a;
    height: 100vh;
    width: 100vw;
}

@keyframes grow {
    from {height: 0; width: 0;}
    to {height: auto; width: auto;}
}

#addBookModal {
    font-family: "cabin";
    text-shadow: 1px 1px 1px #3a3a3a;
    color: #fff;
    background-color: #178AAA;
    display: none;
    position: fixed;
    z-index: 2;
    overflow: auto;
    border: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
    animation-name: grow;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 80%;}
}

#modalCover {
    background-color: #8a8a8a;
    display: none;
    position: absolute;
    height: 105vh;
    width: 100vw;
    opacity: 0%;
    animation-name: fade;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

#addBook {
    color: #000;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.bookDiv {
    width: 200px;
    height: 250px;
    background-color: #178AAA;
    border-radius: 12px;
    padding: 20px;
    text-shadow: 1px 1px 1px #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


